<!DOCTYPE html>
<html>

<script src="https://www.gstatic.com/firebasejs/3.6.10/firebase.js">
</script>

<body>
    <button type="button" onclick=myFunction()>Click Me!</button>
</body>

<script>
    // Initialize Firebase
    console.log("initial")
    var config = {
        apiKey: "AIzaSyBa7wIdQ0zPX9WydLuKJ6FBKluHI8O7yqM",
        authDomain: "fb-functions-2.firebaseapp.com",
        databaseURL: "https://fb-functions-2.firebaseio.com",
        storageBucket: "fb-functions-2.appspot.com",
        messagingSenderId: "802027295957"
    };
    firebase.initializeApp(config);
</script>

<script>
    console.log("auth")
    firebase.auth().onAuthStateChanged(function(user) {
        if (user) {
            // User is signed in.
            var isAnonymous = user.isAnonymous;
            var uid = user.uid;
            console.log("UID: " + user.uid);
            // ...
        } else {
            // User is signed out.
            console.log("not sign in");
            // ...
        }
        // ...
    });
</script>

<script>
    console.log("before myFunc")

    function myFunction() {
        console.log("in myFunc")
        var database = firebase.database();
        var ref = database.ref('dinosaurs');
        ref.on('value', function(snapshot) {
            snapshot.forEach(function(childSnapshot) {
                console.log("childData " + childSnapshot.val().height);
            });
        });
    }
</script>

</html>
